<div class="ten wide column ">


<div class="ui black segment" style="background:rgba(256,256,256,0.4)">
  <div class="ui basic segment">
      <h2 class="ui header"> Projects Running</h2>
      <table class="ui very basic table">
      <thead>
        <tr>
          <th>Sl.No</th>
          <th>Project</th>
          <th>Due Date</th>
          <th>Status</th>
          <th>Customer</th>
          <th>Agent</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {{#each runningProjects as |project|}}
        <tr>
          <td>{{project.id}}</td>
          <td>{{project.name}}</td>
          <td>{{moment-format  project.date outputFormat}}</td>
          <td>{{project.status}}</td>
          <td>{{project.customer.name}}</td>
          <td>{{project.agent.name}}</td>
{{#link-to 'dashboard.projects.project.home' project}}
<td><button class="mini blue ui button">Open</button></td>
{{/link-to}}
</tr>

{{/each}}

      </tbody>
    </table>
    </div>
</div>
<div class="ui black segment" style="background:rgba(256,256,256,0.4)">
  <div class="ui basic segment">
      <h2 class="ui header"> Projects Processing</h2>
      <table class="ui very basic table">
      <thead>
        <tr>
          <th>Sl.No</th>
          <th>Project</th>
          <th>Due Date</th>
          <th>Status</th>
          <th>Customer</th>
          <th>Agent</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {{#each processingProjects as |project|}}
        <tr>
          <td>{{project.id}}</td>
          <td>{{project.name}}</td>
          <td>{{moment-format  project.date outputFormat}}</td>
          <td>{{project.status}}</td>
          <td>{{project.customer.name}}</td>
          <td>{{project.agent.name}}</td>
{{#link-to 'dashboard.projects.project.home' project.id}}
<td><button class="mini blue ui button">Open</button></td>
{{/link-to}}
</tr>

{{/each}}

      </tbody>
    </table>
    </div>
</div>
</div>

{{outlet}}
