<div class="twelve wide column">
  <div class="ui black segment"style="background: rgba(256,256,256,0.6)">
    <div class="ui basic right aligned segment">
      {{#link-to 'dashboard.agents.new'}}
      <div class="ui blue basic button">
        <i class="add user icon"></i>Add New Agent
      </div>
          {{/link-to}}
  </div>
  <div class="ui stackable grid">
  <div class="eight wide column">
    <div class="ui blue segment">
      <div>


        <div class="ui  form agentedit" style="display:none">
          <div class="inline field">
            <label style="width:150px"> Name </label>:
            {{input type="text" placeholder="Name" value=agent.name}}
              </div>
              <div class="inline field">
              <label style="width:150px">Contact Name </label>:
              {{input type="text" placeholder="Contact Name" value=agent.contactname}}
            </div>
          <div class="inline field">
            <label style="width:150px"> Contact Number </label>:
            {{input type="text" placeholder="Contact Number" value=agent.contactno}}
              </div>
              <div class="inline field">
              <label style="width:150px"> Other Contact No </label>:
              {{input type="text" placeholder="Other Contact Number" value=agent.othcontactno}}
            </div>
            <div class="inline field">
            <label style="width:150px"> Other Reference Details </label>:
            {{input type="text" placeholder="Other Reference Details" value=agent.othrefdetails}}
            </div>
            <button class="ui primary mini button" {{action "saveAgent"}} >Save</button>
        </div>

        <div class="ui  form agentview" >
          <div class="inline field">
            <label style="width:150px"> Name </label>:
              <label><h4>{{agent.name}}</h4></label>
              </div>
              <div class="inline field">
              <label style="width:150px">Contact Name </label>:
              <label><h4>{{agent.contactname}}</h4></label>
            </div>
          <div class="inline field">
            <label style="width:150px"> Contact Number </label>:
              <label><h4>{{agent.contactno}}</h4></label>
              </div>
              <div class="inline field">
              <label style="width:150px"> Other Contact No </label>:
              <label><h4>{{agent.othcontactno}}</h4></label>
            </div>
            <div class="inline field">
            <label style="width:150px"> Other Reference Details </label>:
            <label><h4>{{agent.othrefdetails}}</h4></label>
            </div>
            <button class="ui primary mini button" {{action "editAgent"}} >Edit</button>
        </div>

      </div>
    </div>
  </div>

    <div class="eight wide column">
      <div class="ui blue segment con-scrol">
        <h3> Projects</h3>
        <div class="ui top aligned celled list">

          {{#each agent.projects as |project|}}
          <div class="item">
            <div class="right floated content">
              <!-- <div class="ui blue button">Open Project</div> -->

              {{#link-to 'dashboard.projects.project.home' project}}
              <td><button class="mini blue ui button">Open Project</button></td>
              {{/link-to}}
            </div>
            <img class="ui avatar image" src="/images/pro.png">
            <div class="content">
              <div class="header">{{project.name}}</div>
              {{project.status}}
              </div>
          </div>
          {{/each}}



        </div>
      </div>
    </div>

    </div>

</div>

</div>

{{outlet}}
