
<div class="twelve wide column">
  <div class="ui black segment"style="background: rgba(256,256,256,0.6)">
    <h2 class="ui dividing header"> Add New Agent</h2>
    <form class="ui form">
  <div class="field">
    <label> Name</label>
    {{input type="text" value=agentname placeholder=" Name"}}
  </div>
  <div class="field">
    <label>Contact Name</label>
    {{input type="text" value=agentcontactname placeholder="Contact Name"}}
  </div>
  <div class="field">
    <label>Contact No</label>
    {{input type="text" value=agentcontactno placeholder="Contact Number"}}
  </div>
  <div class="field">
    <label>Other Contact Number</label>
    {{input type="text" value=othercontactnumber placeholder="Other Contact Number"}}
  </div>
  <div class="field">
    <label>Other Reference Details</label>
    {{input type="text" value=otherefdetails placeholder="Other Reference Details"}}
  </div>
  <button class="ui primary button {{isCreateAgentButtonDisabled}}" type="submit"  {{action "createAgent"}}>Submit</button>
</form>
  </div>
</div>
{{outlet}}
