<div class="twelve wide column talha">
    <div class="ui segment black">
      <div class="enq-form" style=" max-height: 440px;overflow: auto; padding-right: 10px">
       <h2 class="ui center dividing aligned header" >Enquiry Form </h2>
       <form class="ui form">
  <div class=" eight wide field">
    <h4 class="ui  header">Project Name</h4>
        {{input type="text" placeholder="First Name" value=project.name}}
  </div>
  <div class="ui divider"></div>

  <div class="inline fields">
    <div class="twelve wide field"><label>Customer</label>
      {{ember-selectize
      content=customers
      optionValuePath="content.id"
      optionLabelPath="content.name"
      selection=project.customer
      placeholder="Select a Customer" }}
    </div>
  </div>
  <div class="inline fields">
    <div class="twelve wide field">
      <label>Agent</label>
      {{ember-selectize
      content=agents
      optionValuePath="content.id"
      optionLabelPath="content.name"
      selection=project.agent
      placeholder="Select a Agent" }}
    </div>
  </div>
  <div class="inline fields">
    <div class="fourteen wide field">
      <label>Date</label>
  {{pikaday-input value=project.enquiry.date}}
    </div>
  </div>

</form>
<div class="ui segment black">
  <h4 class="ui  header">Items</h4>
  {{#each project.items as |item index|}}
  <div class="ui segment black">
    <h5 class="ui left floated header">Item 1</h5>
      <button class="ui secondary mini right floated button">Remove Item</button>
      <div class="ui form">
        <div class="inline field">
          <label>ID</label>
          {{item.id}}
        </div>
        <div class="inline field">
          <label>Dimensions </label>
          {{input type="text" placeholder="Dimesions" value=item.dimensions}}
        </div>
        <div class="inline field">
          <label>Description </label>
          {{input type="text" placeholder="Description" value=item.description}}
        </div>
        <div class="inline field">
          <label>ItemType</label>
          {{ember-selectize
          content=itemtypes
          optionValuePath="content.id"
          optionLabelPath="content.name"
          selection=item.itemtype
          placeholder="Select Itemtype" }}
        </div>
        <div class="inline field">
          <label>JobType</label>
          {{ember-selectize
          content=jobtypes
          optionValuePath="content.id"
          optionLabelPath="content.name"
          selection=item.jobtype
          placeholder="Select Jobtype" }}
        </div>
      </div>
  </div>
  {{/each}}

<button class="ui secondary mini right floated button" {{action "AddNewItem"}}>Add New Item</button>

</div>
  <button class="ui secondary mini right floated button" {{action "saveProject"}}>Save</button>
</div>
</div>
</div>

{{outlet}}
