<div class="twelve wide column talha">

    <div class="ui segment black">
      <div class="enq-form" style=" max-height: 460px;overflow: auto; padding-right: 10px">
       <h2 class="ui center dividing aligned header" >Enquiry Form </h2>
       <form class="ui form">
  <div class=" eight wide field">
    <h4 class="ui  header">Project Name</h4>         {{! First place holder project name}}
        {{input type="text" placeholder="First Name" value=project.name}}
  </div>

  <div class="row row-margin">
                           <div class="col-md-2">
                             <label for="" class="labels">Date</label>
                           </div>
                           Duedate
                                  <div class="col-md-10 pickaday">
                                    {{pikaday-input value=project.duedate  format="DD-MM-YYYY" theme="form-input" }}
                                  </div>
                                </div>



  <div class="ui divider"></div>

  <div class="inline fields">
    <div class="twelve wide field"><label>Customer</label>  {{!Second place holder customer}}
      {{ember-selectize
      content=customers
      optionValuePath="content.id"
      optionLabelPath="content.name"
      selection=project.customer
      placeholder="Select a Customer" }}
    </div>
  </div>
  <div class="inline fields">
    <div class="twelve wide field"><label>Agent</label>   {{!Third place holder agent  }}
      {{ember-selectize
      content=agents
      optionValuePath="content.id"
      optionLabelPath="content.name"
      selection=project.agent
      placeholder="Select a Agent" }}
    </div>
  </div>
  <div class="inline fields">
    <div class="fourteen wide field">
      <label>Date</label>
      {{pikaday-input value=project.enquiry.date}}      {{!Using pikaday addon to use date calendar}}
    </div>
  </div>

</form>
<div class="ui segment black">
  <h4 class="ui  header">item</h4>
  {{#each project.items as |item index|}}
  <div class="ui segment black">

    <h5 class="ui left floated header">Please Enter Requirement:</h5>  {{! Problem: Item has to keep incrementing with new new add item}}
    <h5 class="ui left floated header">Item {{ incrementone index}}</h5>
      <button class="ui secondary mini right floated button" {{action "deleteItem" item}}>Remove Item</button>
      <div class="ui form">

        <div class="inline field">
          <label>Dimensions </label>
          {{input type="text" placeholder="Dimesions" value=item.dimensions}}
        </div>
        <div class="inline field">
          <label>Description </label>
          {{input type="text" placeholder="Description" value=item.description}}
        </div>
        <div class="inline field">
          <label>ItemType</label>
          {{ember-selectize
          content=itemtypes
          optionValuePath="content.id"
          optionLabelPath="content.name"
          selection=item.itemtype
          placeholder="Select Itemtype" }}
        </div>
        <div class="inline field">
          <label>JobType</label>
          {{ember-selectize
          content=jobtypes
          optionValuePath="content.id"
          optionLabelPath="content.name"
          selection=item.jobtype
          placeholder="Select Jobtype" }}
        </div>
      </div>
  </div>
  {{/each}}


</div>
<button class="ui secondary mini right floated button" {{action "AddNewItem"}}>Add New Item</button>
  <button class="ui secondary mini right floated button" {{action "saveProject"}}>Save</button>
</div>
</div>
</div>

{{outlet}}
