<div class="fourteen wide column">
  <div class="ui stackable grid">

<div class="seven wide column">
  <div class="ui black segment">

<div class="ui top attached label"><h3 class="ui header">Project Basic Info</h3></div>
<div class="ui form">
  <div class="ui divider"></div>

      <div class="field">
          <label><h4 class="ui dividing header"> Project Name :</h4 >{{project.name}}</label>
    </div>

      <div class="two  fields">

    <div class="field">
        <label>Added Date :</label>
        {{moment-format project.addeddate Outputformat}}
    </div>

  </div>
  <div class="two  fields">
  <div class="field">
    <label>Due Date :{{moment-format project.duedate Outputformat}}</label>
  </div>
    <div class="field">
  <div class="ui label">
  {{moment-from-now project.duedate }}
  <div class="detail">  </div>
</div>

</div>
</div>
</div></div>




<div class="ui black segment">

    <h3 class="ui header">Project Status</h3>

    <div class="ui four steps">
      <div class="step {{addedActive}} ">

        <div class="content">
          <div class="title">Added</div>
        </div>
      </div>
      <div class=" step {{startedActive}}">
        <div class="content ">
          <div class="title">Started</div>
        </div>
      </div>



      <div class=" step {{completedactive}}">
        <div class="content">
          <div class="title">Completed</div>
        </div>
      </div>

    </div>


</div>
</div>
<div class="nine wide column">

  <div class="ui cards">
    <div class="black card">
      <div class="content">
        <div class="ui dividing header">
          Customer
        </div>
        <div class="ui form">
        <div class="field">
            <label> Name : {{project.customer.name}}</label>
        </div>
        <div class=" field">
            <label> Contact : {{project.customer.contactno}}</label>
          </div>
        <div class="description">
        </div>
      </div>
      </div>
    </div>
    <div class="black card">
      <div class="content">
        <div class="ui dividing header">
          Agent
        </div>
        <div class="ui form">
        <div class="field">
            <label> Name : {{project.agent.name}}</label>
        </div>
        <div class=" field">
            <label> Contact : {{project.agent.contactno}}</label>
          </div>
        <div class="description">
        </div>
      </div>
    </div>
    </div>
  </div>
</div>
<div class="sixteen wide column">
  <div class="ui black segment">
    <div class="ui top left attached label">Recent Changes</div>

    <div class="ui middle aligned divided list">
      {{#each project.versions as |version|}}
                                <li class="log-items">
                                    <div class="log-body" style="max-height:80px;overflow:auto">

                                        {{#each-in version.changeset as |key changesetscontents|}}

                                          {{#if (not-eq key "updated_at")}}
                                          <label class="log-date " >{{moment-format version.created_at Outputformat}} </label>
                                        <label class="log-label" style="float:left"> ::  {{version.whodunnit}} &nbsp;</label>

                                          <label> Updated {{key}} From </label>
                                          <label class="lbl-red">{{changesetscontents.firstObject}}</label>
                                           <label>To</label>
                                          <label class="lbl-grn">{{changesetscontents.lastObject}}</label>
                                          <label class="log-ago">-{{moment-from-now version.created_at}}<br></label>

                                              {{/if}}
                                        {{/each-in}}


                                    </div>
                                </li>
                                {{/each}}

    <!-- <div class="item">
      <div class="content">
        <a class="header">Daniel Louise</a>
      </div>
    </div>
    <div class="item">
      <div class="content">
        <a class="header">Stevie Feliciano</a>
      </div>
    </div>
    <div class="item">
      <div class="content">
        <a class="header">Elliot Fu</a>
      </div>
    </div> -->

  </div>

  </div>
</div>
</div>
{{outlet}}
</div>
