<div class="ten wide column">
    <div class="ui segment black">
      <div class="enq-form" style=" max-height: 440px;overflow: auto; padding-right: 10px">
      <h2 class="ui header">Job Details</h2>


      {{#each project.items as |item index|}}
          <div class="ui segment black">
            <div class="ui top attached label"><h3 class="ui header">Item {{incrementone index}}</h3></div>
            <div class="ui form">

              <div class="inline fields">
                <div class="four wide field"><label>Site Survey Details</label></div><div class="ten wide field">
                  {{input type="text" placeholder="Site Survey Details" value=item.surveydetails}}
                </div>
              </div>
              <div class="inline fields">
                <div class="four wide field"><label>Technique to Install</label></div><div class="ten wide field">
                  {{input type="text" placeholder="Technique" value=item.technique}}
                </div>
              </div>
              <div class="inline fields">
                <div class="four wide field"><label>Materials Required</label></div><div class="ten wide field">
                  {{input type="text" placeholder="Material" value=item.material}}
                </div>
              </div>
              <div class="inline fields">
                <div class="four wide field"><label>Team Allotment</label></div><div class="ten wide field">
                  {{input type="text" placeholder="Team" value=item.team}}
                </div>
              </div>




          <div class="ui divider"></div>


</div>
<div style="min-height:35px">
<h4 class=" ui left  floated header ">Upload Design Files</h4>
<button class="mini primary right floated  ui button"><i class="upload icon"></i>
  {{file-upload item=item siteimages=item.siteimages  on-upload=(action "uploadSiteimage")}}
</button>
</div>

{{#if imageUploading }}

<div class="loading-pane text-center">
<div class="loading-message text-center" >
<div style="padding-left:300px">
<img src="/images/load.gif" style="margin-top:10px;padding-left:35px">
<br>
Uploading image
</div>
</div>
</div>
{{else}}
{{/if}}



<div class="ui divider">

</div>
<div class="ui three column grid">
  {{#each item.siteimages as |siteimage index|}}
  <div class="column">
    <div class=" ui fluid card">

        {{#light-box href=siteimage.fullurl data-lightbox="cats-group" data-title=siteimage.description inlineImage=false}}
        <div class="image">
        <img src="{{siteimage.thumburl}}">
      </div>
        {{/light-box}}
        <div class="content">
             <a href="{{siteimage.fullurl}}" target="_blank">
               <div class="ui mini blue labeled icon button">
                 Download<i class="download icon"></i>

               </div>
            </a>
             {{async-button siteimage action="deleteSiteimage" default="Delete"  fulfilled="Saved" rejected="Cannot Save"pending="Deleting.." class="ui button danger block-shadow-success text-shadow mini button"}}
           </div>

    </div>
  </div>
    {{/each}}
  </div>



        </div>
        {{/each}}




              </div>
   </div>
</div>
<div class="four wide column">
  <button class="ui blue fluid  button" style="margin-bottom:10px" {{action "saveJobdetails"}}>
    <i class="save icon"></i>Save
  </button>
</div>
{{outlet}}
