<div class="eleven wide column no-print">
    <div class="ui segment black ">
      <div class="enq-form" style=" max-height: 440px;overflow: auto; padding-right: 10px">
       <h2 class="ui center dividing aligned header" >Quotation Form </h2>
       <form class="ui form">
         <div class="inline fields">
           <div class="fourteen wide field">
             <label style="width:80px">Date</label>
             {{pikaday-input value=project.quotation.date}}      {{!Using pikaday addon to use date calendar}}
           </div>

         </div>
  <div class="ui divider"></div>

  <div class="inline fields">
    <div class="fourteen wide field">
      <label style="width:80px">Subject</label>
      {{input type="text" placeholder="Subject" value=project.quotation.subject}}
    </div>

  </div>
  <div class="inline fields">
    <div class="fourteen wide field">
      <label style="width:80px">Body</label>
      <textarea rows="2" style="margin-top: 0px; margin-bottom: 0px; height: 95px;"placeholder=" Body">{{project.quotation.body}}</textarea>
    </div>
  </div>

</form>
<div class="ui segment basic">

<table class="ui celled inverted structured table">
  <thead>
    <tr>
      <th>Sl.No</th>
      <th>Scope of Work</th>
      <th>Unit</th>
      <th>Rate</th>
      <th>Amount</th>

    </tr>
  </thead>
  <tbody>
    {{#each project.items as |item index|}}
    <tr>
      <td rowspan="2" class="center aligned">{{incrementone index}}</td>
      <td>
        <b>Dimensions:</b> {{item.dimensions}}<br>
      </td>
      <td ><div class="ui mini  input">
        {{input type="text" placeholder="Unit" value=item.unit}}
      </div></td>
      <td ><div class="ui mini  input">
        {{input type="text" placeholder="Rate" value=item.rate}}
      </div></td>
      <td ><div class="ui mini  input">
          {{input type="text" placeholder="Amount" value=item.amount}}
        </div></td>
    </tr>
    <tr>
      <td>
        <b>Specification:</b>
      </td>
      <td colspan="3">
        {{item.description}}
      </td>
    </tr>
    {{/each}}


  </tbody>
</table>
</div>
<div class="ui segment basic">

<div class="ui secondary segment ">
  <div class="ui form">
    <div class="field"><label>Payment:</label>
      {{input type="text" value=project.quotation.payment}}
    </div>
    <div class="field"><label>Delivery:</label>
      {{input type="text" value=project.quotation.delivery}}
    </div>
    <div class="field"><label>Power:</label>
      {{input type="text" value=project.quotation.power}}
    </div>
    <div class="field"><label>Store:</label>
      {{input type="text" value=project.quotation.storetext}}
    </div>
    <div class="field"><label>Note:</label>
      {{input type="text" value=project.quotation.note}}
    </div>

  </div>
</div>

</div>
</div>
</div>
</div>
<div class="three wide column no-print">
  <div class="ui black segment" style="background: rgba(256,256,256,0.7)">
    <button class="ui blue fluid  button" style="margin-bottom:10px" {{action "saveQuotation"}}><i class="save icon"></i>Save</button>
    <div class="ui divider"></div>
    <button class="ui blue fluid button" style="margin-bottom:10px" {{action "printQuotation"}} ><i class="print icon"></i>Print</button>
    <div class="ui divider"></div>


    {{#if isOm}}   {{!  IF OM}}
     {{#if (eq project.fstatusom 'forwarded')}}
    <button class="ui blue fluid button" {{action "AcceptQuotationOM" project}}>
      <i class="print icon"></i> Accept
    </button>
    <div class="ui divider"></div>
    <button class="ui blue fluid button"  {{action "RejectQuotationOM" project}}>
      <i class="print icon"></i> Reject
    </button>
    {{/if}}
    {{/if}}{{!IF OM}}





    {{#if isGm}}   {{!  IF GM}}
    {{#if (eq project.fstatusgm 'forwarded')}}
   <button class="ui blue fluid button" {{action "AcceptQuotationGM" project}}>
     <i class="print icon"></i> Accept
   </button>
   <div class="ui divider"></div>
   <button class="ui blue fluid button"  {{action "RejectQuotationGM" project}}>
     <i class="print icon"></i> Reject
   </button>
   {{/if}}
   <div class="ui divider"></div>

   {{#if (or (not-eq project.fstatusis 'forwarded')   (eq project.fstatusis '') ) }}
   {{#if (and (not-eq project.fstatusom 'accepted') (not-eq project.fstatusgm 'accepted'))}}

   <button class="ui blue fluid button"  {{action "ForwardtoIs" project}}>
     <i class="print icon"></i> Forward To IS
   </button>

   {{/if}}
   {{/if}}

   <div class="ui divider"></div>

   {{#if (or (not project.fstatusps 'forwarded')   (eq project.fstatusps '')) }}
   {{#if (and (not-eq project.fstatusom 'accepted') (not-eq project.fstatusgm 'accepted'))}}
   <button class="ui blue fluid button"  {{action "ForwardtoPs" project}}>
     <i class="print icon"></i> Forward To PS
   </button>
   {{/if}}
   {{/if}}
   <div class="ui divider"></div>

   {{#if (eq project.fstatusis 'forwarded')}}
   <div class="ui success message"> Forwarded to IS
   </div>
   {{/if}}
   <div class="ui divider"></div>

   {{#if (eq project.fstatusps 'forwarded')}}
   <div class="ui success message"> Forwarded to PS
   </div>
   {{/if}}
   <div class="ui divider"></div>

   {{#if (eq project.fstatusis 'replied')}}
   <div class="ui success message"> Replied by IS
   </div>
   {{/if}}
<div class="ui divider"></div>
   {{#if (eq project.fstatusps 'replied')}}
   <div class="ui success message"> Replied by PS
   </div>
   {{/if}}
   <div class="ui divider"></div>

   {{/if}}{{!IF GM}}




{{#if isIs}}{{!IF IS}}
{{#if (eq project.fstatusis 'forwarded')}}
{{input type="text" placeholder="Comments" value=project.iscomment}}
<button class="ui blue fluid button"  {{action "isSentToGM" project}}>
  <i class="print icon"></i> Reply To GM
</button>
{{/if}}
{{/if}}  {{!IF IS}}
<div class="ui divider"></div>

{{#if isPs}}{{!IF PS}}
{{#if (eq project.fstatusps 'forwarded')}}
{{input type="text" placeholder="Comments" value=project.pscomment}}
<button class="ui blue fluid button"  {{action "psSentToGM" project}}>
  <i class="print icon"></i> Reply To GM
</button>
{{/if}}
{{/if}}{{!IF PS}}






   {{!  IF NORMAL USER}}

    {{#if (not (or isOm  isGm isIs isPs))}}

    {{! GM STATUSES}}

    {{#if (eq project.fstatusgm 'forwarded')}}
    <div class="ui info message"> Forwarded to GM
    </div>
    {{/if}}


    {{#if (or (eq project.fstatusgm 'rejected')   (eq project.fstatusgm '')) }}
    <button class="ui blue fluid button"  {{action "forwardToGm" project}}>
      <i class="print icon"></i> Forward To GM
    </button>
    {{/if}}


    {{#if (eq project.fstatusgm 'accepted')}}
    <div class="ui success message"> Accepted by GM
    </div>
    {{/if}}

    {{#if (eq project.fstatusgm 'rejected')}}
    <div class="ui error message">Rejected by GM
    </div>
    {{/if}}




      {{! OM STATUSES}}
    <div class="ui divider"></div>
      {{#if (eq project.fstatusom 'forwarded')}}
      <div class="ui info message"> Forwarded to OM
      </div>
      {{/if}}

      {{#if (or (eq project.fstatusom 'rejected')   (eq project.fstatusom '')) }}
      <button class="ui blue fluid button"  {{action "forwardToOm" project}}>
        <i class="print icon"></i> Forward To OM
      </button>
      {{/if}}


      {{#if (eq project.fstatusom 'accepted')}}
      <div class="ui success message">
         Accepted by OM
      </div>
      {{/if}}

      {{#if (eq project.fstatusom 'rejected')}}
      <div class="ui error message">
          Rejected by OM
      </div>
      {{/if}}
      {{/if}}{{!if not om or gm}}

     <div class="ui divider"></div>

     {{#if (or (eq project.fstatusom 'accepted') (eq project.fstatusgm 'accepted'))}}
    {{#if (not-eq project.status 'started')}}
     <button class="ui blue fluid button" {{action "startProject" project}}><i class="print icon"></i>Start Project</button>
     {{/if}}
    {{/if}}



</div>

</div>



{{outlet}}
<div class="print-box only-print">
  <h2 class="ui center dividing aligned header" >Quotation Form </h2>

        <label>Date</label>
        {{project.quotation.date}}      {{!Using pikaday addon to use date calendar}}

<h3 class="ui center aligned header">SUB1</h3>
Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
<table class="ui center aligned celled structured table">
  <thead>
    <tr>
      <th>Sl.No</th>
      <th>Scope of Work</th>
      <th>Unit</th>
      <th>Rate</th>
      <th>Amount</th>

    </tr>
  </thead>
  <tbody>
    {{#each project.items as |item index|}}
    <tr>
      <td rowspan="2">{{incrementone index}}</td>
      <td class="ui left aligned">
        <b>Dimensions:</b> {{item.dimensions}}<br>
      </td>
      <td >{{item.unit}}</td>
      <td >{{item.rate}}</td>
      <td >{{item.amount}}</td>
    </tr>
    <tr>
      <td class="ui left aligned">
        <b>Specification:</b>
      </td>
      <td colspan="3" class ="ui left aligned">
        {{item.description}}
      </td>
    </tr>
    {{/each}}


  </tbody>
</table>
<div class="ui form">
  <div class="field"><label>Payment:</label>
    {{project.quotation.payment}}
  </div>
  <div class="field"><label>Delivery:</label>
    {{project.quotation.delivery}}
  </div>
  <div class="field"><label>Power:</label>
    {{project.quotation.power}}
  </div>
  <div class="field"><label>Store:</label>
    {{project.quotation.storetext}}
  </div>
  <div class="field"><label>Note:</label>
    {{project.quotation.note}}
  </div>

</div>
</div>
